@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/style.css" />
<div class="text-center">
    <h1 class="display-4">Bienvenido al Gestionador de Tareas</h1>
    <p>Podras ver varias tareaas los equipos entre otros</p>
</div>
    